body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://i.imgur.com/0io5Qs4.jpg);
    background-repeat: no-repeat;
}

h1 {
   font-size: 8vmin;
   padding: 2vmin;
}

.add {
    font-size: 3vmin;
    border-color: black;
    border-width: .5vmin;
    border-radius: 10px;
    outline: none;
    padding: 1vmin;
}

.remove {
    background-color: rgb(239, 90, 93);
    color: white;
    font-size: 20px;
    outline: none;
}

input {
    height: 20vmin;
    width: 50vmin;
    font-size: 2vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: .5vmin;
    border-color: black;
    border-radius: 1vmin;
    outline: none;
    padding: 1vmin;
}